.pole {
  border: 1px solid black;
  height: 45px;
  width: 45px;
  display: inline-block;
}

.had {
  background: rgb(104, 216, 104);
}

body {
  overflow: hidden;
}

.zradlo {
  background-color: lightcoral;
}

.had .zradlo {

}